* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    
}


#contendor { 
    position: relative;
    margin: 0;

    background: url(../img/fondoPrincipal.jpg);
    /* background-size: 100% 100%; */
    background-position: center;
    min-height: 635px;
}

header {
    background-color: darkmagenta;
    
    display: grid;
    grid-template:
    "nav search . icons" 50px /
    30% 30% 10% 40%;

}

#exit {
    position: relative;
    right: 10px;
}

#exit:hover {
    transform: scale(1.2);
}

nav {
    display: flex;
    width: 110px;
}
nav svg {
    cursor: pointer;
    position: relative;
    top: 15px;


}
nav h2 {
   font-weight: bolder;
   color: greenyellow;
}

#search  {
    grid-area: search;

    width: 60%;
    height: 40px;
    margin: auto;
    
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
}


#icons {
    grid-area: icons;
    width: 280px;
    display: flex;
    margin-left: 50px;
}

#icons button {    
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    height: 40px;
    width: 130px;
    position: relative;
    top: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(245, 245, 245, 0.492);
}

#icons button:hover {
    background-color: rgb(53, 47, 47);
    transform: scale(1.1);
    color: whitesmoke;

}

.iconH {
    cursor: pointer;

    width: 25px;
    height: 25px;
    position: relative;
    top: 2px; 
}




aside {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

    width: 20%;
    position: absolute;
    left: 20px;
    overflow: auto;
    max-height: 535px;


}

aside h1 {
    color: whitesmoke;
    background-color: rgba(139, 0, 139, 0.671);
    text-align: center;
    width: 109%;
    margin-left: -10px;
}

#users {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 10px;
    color: whitesmoke;

    display: flex;

    flex-direction: column;
    overflow: hidden;

}

.iconP {
    border: solid 0.5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.pUser {
    display: flex;

    color: whitesmoke;
    width: 80px;
    margin-left: 10px;

}

#UserActual {
    display: flex;
    
    background-color: rgba(113, 102, 102, 0.7);
    width: 100%;

}

#divUser {
    display: flex;
    justify-content: left;
    width: 100%;
}

#divUser:hover {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

#footerUsers {
    background-color: red;

    color: whitesmoke;
    text-align: center;
    width: 109%;
    margin-left: -10px;
}

#contConsultas {
    width: 76%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    overflow: auto;

    color: whitesmoke;

    position: absolute;
    right: 0;
}

#contConsultas h1 {
    text-align: center;
    background-color: rgba(139, 0, 139, 0.671);
    width: 100%;
    margin-left: -10px;
}

main {
    width: 100%;
    max-height: 450px;
    overflow: hidden;

    border-radius: 10px;
    padding: 10px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    width: 23%;
    min-height: 120px;
    border-radius: 10px;
    
    padding: 10px;
    margin: 5px;
    word-wrap: break-word;
}

.item:hover {
    z-index: 2;
    background-color: red;
}
.pNombre {
    color: black;
}

#pConsulta {
    color: black;
    width: 90%;
    line-height: 25px;
    margin-bottom: 30px;
}

.imgEdit {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.imgDelete {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 50px;
}

.footerItem {
    background-color: rgba(139, 0, 139, 0.9);

    font-weight: bold;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}
